

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

header {
    text-align: center;
    padding-top: 15px;
}

header img {
    width: 250px;
}

header p {
    background-color: rgb(255, 255, 227);
    padding: 15px;
    border-top: 1px solid gold;
    color: rgb(24, 42, 43);
}

header p span {
    font-weight: bold;
}

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    text-align: center;
    font-size: 2.5em;
}

.container p {
    font-size: 1.3em;
}

.container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(170, 170, 170);
}

.container img + p {
    font-size: 1em;
    color: darkgray;
    text-align: center;
    
}

.featured-in p {
    margin: 0;
    color: rgb(209, 136, 0);
}

.featured-in {
    padding-left: 15px;
    border-left: 1px solid gold;
    
}


li {
    font-size: 1.2em;
    line-height: 1.2em;
}

.container ol p {
    font-size: 1.1em;
}

ol li {
    font-weight: bold;
}

.container h2 {
    margin-top: 50px;
    border-bottom: 1px solid rgb(168, 255, 255);
    padding-bottom: 5px;
}