

body {
    font-family: 'Roboto Slab', serif;
}

nav {
    height: 20vh;
    
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
   
}

.caption-logo {
    text-align: center;
    background-color: #FFFCEE;
    border-top: #F5D248 solid 1px;
    height: 6vh;
    color: #223f3f;
}

article {
    margin-left: 30em;
    margin-right: 30em;
    text-align: center;
    
}

article h1 {
    font-size: 2.5em;
    margin: 0;
}

.caption {
    margin-top: 2.5em;
}

p {
    font-size: 1.2em;
}

li {
    font-size: 1.1em;
}

.caption p {

    margin: 0;
    
}

.focaccia {
    padding: 0.5em;
    color: rgb(148, 148, 148);
    
}

.focaccia img {
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgb(216, 216, 216);
   
}

.featured-link {
    text-align: start;
    padding-left: 26.5em;
    
}

#featured-in {
    border-left: #F5D248 solid 2px;
    padding-left: 1em;
}

.featured-link p {
    margin-bottom: 0;
}

.ingredients {
    text-align: start;
    padding-left: 26.5em;
    padding-top: 3em;
    
}

.method{
    text-align: start;
    padding-left: 26.5em;
    padding-top: 3em;
}

.ingredients li {
    margin: 0.7em;
}

.method li {
    font-weight: bold;
    margin-bottom: 1em;
}

.method p {
    margin: 0;
    
}

.border-bottom-title {
    border-bottom: rgb(169, 255, 255) solid 1px;
   margin-right: 26.5em;
}